# Diretórios do Maven
target/
**/target/
*.log

# IDEs
.idea/
*.iml
*.hprof
*.class

# Configurações do Eclipse
.settings/
.classpath
.project

# Configurações do NetBeans
nbproject/
build/

# Arquivos de cache do Gradle
.gradle/
build/

# Configurações do IntelliJ
*.iws
*.ipr
*.jar
*.war
*.ear
out/

# Arquivos temporários
*.tmp
*.temp
*.bak

# Arquivos de ambiente
*.env

# Arquivos de configuração do Spring
application.properties
application.yml

# Certificados, chaves e segredos
*.pem
*.p12
*.jks
*.keystore

# Outros arquivos gerados
*.db
*.DS_Store
*.swp
*.swo

# Outros arquivos gerados pelo sistema
Thumbs.db
ehthumbs.db
